<!-- base.html -->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- My custom styles -->
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">

    <!--Google Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body class="bg-light">

<nav class="navbar navbar-expand-sm bg-white navbar-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">

            <!-- Brand -->
            <li class="nav-item">
                <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">LoLStalk</a>
            </li>

            <!-- Search box -->
            <li class="nav-item">
                <form class="form-inline" method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="nickname" placeholder="Search summoner" {% if request.GET.nickname %}value="{{ request.GET.nickname }}"{% endif %}/>
                        <div class="input-group-append">
                            <button class="form-control"><i class="material-icons align-middle">search</i></button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        <!-- Dropdown menu -->
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-lnk dropdown-toggle no-underline text-primary" href="#" id="navbardrop"
                   data-toggle="dropdown">{{ request.user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>