{% extends "base.html" %}
{% load staticfiles %}

{% block title %}LoLStalk - Follow match histories of pro players and friends{% endblock %}

{% block content %}

<div class="container bg-white mt-3">
    <h3 class="pt-3">LoLStalk</h3>
    <form class="mt-3" method="get">
        <input id="nickname" class="form-control" type="text" name="nickname" placeholder="Nickname" required {% if request.GET.nickname %}value="{{ request.GET.nickname }}" {% endif %}>
        <div class="form-group">
            <select name="region" id="region" class="form-control">
                <option value="BR1" {% ifequal request.GET.region 'BR1' %}selected{% endifequal %} >BR</option>
                <option value="NA1" {% ifequal request.GET.region 'NA1' %}selected{% endifequal %}>NA</option>
            </select>
        </div>
        <button id="submit" class="btn">Check</button>
        {% if summoner.id %}
        <p>ID: {{ summoner.id }}</p>
        <p>Account ID: {{ summoner.accountId }}</p>
        <p>Summoner name: {{ summoner.name }}</p>
        <p>Profile Icon ID: {{ summoner.profileIconId }}</p>
        <p>Summoner level: {{ summoner.summonerLevel }}</p>
        {% else %}
        <p>No summoner found</p>
        {% endif %}

    </form>
</div>

{% endblock %}