{% extends "base.html" %}
{% load staticfiles %}

{% block title %}LoLStalk - Follow match histories of pro players and friends{% endblock %}

{% block content %}

<div class="container bg-white mt-3">
    {% for summoner in summoners %}
    <p>Account ID: {{ summoner.accountId }}</p>
    <p>Region: {{ summoner.region }}</p>


    {% ifequal summoner.region  'BR1' %}    <a target="_blank" href="http://br.op.gg/summoner/userName={{ summoner.name }}">Check OP.GG</a>
{% endifequal %}
    {% ifequal summoner.region  'NA1' %}    <a target="_blank" href="http://na.op.gg/summoner/userName={{ summoner.name }}">Check OP.GG</a>
{% endifequal %}

    <br>
    <a href="{% url 'summoner' summoner.region summoner.name %}">Check summoner</a>

    <hr>
    {% endfor %}
</div>

{% endblock %}