{% extends "base.html" %}
{% load staticfiles %}

{% block title %}LoLStalk - Follow match histories of pro players and friends{% endblock %}

{% block content %}

<script src="{% static 'js/search.js' %}"></script>

<div class="container  mt-3">

    <h3 class="pt-2 pb-1">Results for '{{ request.GET.nickname }}':</h3>

    <div class="card-group">
        {% for summoner in summoners %}

        <div class="card search-card ">
            <div class="card-body">
                <h5 class="card-title">{{ summoner.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% ifequal summoner.region 'br1' %}
                    Brazil
                    {% endifequal %}
                    {% ifequal summoner.region 'na1' %}
                    North America
                    {% endifequal %}
                    {% ifequal summoner.region 'kr' %}
                    South Korea
                    {% endifequal %}
                    {% ifequal summoner.region 'euw1' %}
                    European West
                    {% endifequal %}
                </h6>
                <p class="card-text">Level: {{ summoner.summonerLevel }}</p>
                <a href="{% url 'summoner' summoner.region summoner.name %}" class="btn btn-primary">Match history</a>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}